@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  font-family: "Inter", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.subtitle {
  @apply font-semibold text-[25px] md:text-[30px];
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 8px;
}

.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
}

@media (width > 768px) {
  .embla__slide {
    flex: 0 0 40%;
    min-width: 0;
  }
}
